#¹ýÂËÎÄ¼þ¼ÐDebug,Release,obj,bin
Git.Todolist.Application/bin/
Git.Todolist.Application/obj/
Git.Todolist.Core/bin/
Git.Todolist.Core/obj/
Git.Todolist.Data/bin/
Git.Todolist.Data/obj/
Git.Todolist.Domain/bin/
Git.Todolist.Domain/obj/
Git.Todolist.Mapping/bin/
Git.Todolist.Mapping/obj/
Git.Todolist.Repository/bin/
Git.Todolist.Repository/obj/
Git.Todolist.Web/bin/
Git.Todolist.Web/obj/
