<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!--<add name="BaseDbContext" connectionString="mongodb://mongo:mongo@127.0.0.1:27017/todolist/query"/>-->
  <add name="BaseDbContext" connectionString="Server=.;Initial Catalog=Todolist;User ID=sa;Password=1" providerName="System.Data.SqlClient" />
</connectionStrings>